@model Standings
<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Team</th>
                <th>Pts</th>
                <th>P</th>
            </tr>
        </thead>
        <tbody>
            @{var pos = 1;}
            @foreach (StandingsRow row in Model.Items
            .OrderByDescending(x => x.Points)
            .ThenByDescending(x => x.GoalsScored)
            .ToList())
            {
            <tr>
                <td>
                    <div>
                        @if (row.Team.TeamType == TeamType.NationalTeam) {
                        <img src="https://cdn.allsve.com/images/flags/waving/@row.Team.TeamLogo"
                             width="32px" alt="@row.Team.Name" />
                             }
                        else
                        {
                            <img src="/images/@row.Team.TeamLogo"
                                 width="32px" alt="@row.Team.Name" />
                        }

                    </div>
                </td>
                <td>@pos</td>
                <td>@row.Team.Name</td>
                <td>@row.Points</td>
                <td>@row.Played</td>
            </tr>
            pos = pos + 1;
            }
        </tbody>
    </table>
</div>
