@model List<Competition>

<div class="row">
    <div class="col">
        <div class="text-left">
            <a asp-action="Create" class="btn btn-xs btn-outline-primary">Add New</a>
        </div>
        <div class="mt-4">
            <h3>Competitions</h3>
        </div>

        <ul class="list-group">
            @foreach (var competition in Model)
            {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <a asp-action="Overview" asp-route-id="@competition.Id">
                            @competition.Name
                        </a>
                    </div>
                    <div class="col">
                        <a asp-action="Edit" asp-route-id="@competition.Id">Edit</a>,
                    </div>
                </div>
                @if (competition.Children.Count > 0)
                {
                    foreach (var child in competition.Children)
                    {
                        <div class="row">
                            <div class="col-md-8">
                                --@child.Name
                            </div>
                            <div class="col">
                                <a asp-action="Edit" asp-route-id="@child.Id">Edit</a>,
                                <a asp-controller="CompetitionSeason" asp-action="Create" asp-route-competitionId="@child.Id">Add Season</a>
                                <a asp-controller="CompetitionSeason" asp-action="Index" asp-route-competitionId="@child.Id">View Seasons</a>
                            </div>
                        </div>

                    }
                }
            </li>
            }
        </ul>
    </div>
</div>