@model CompetitionOverviewViewModel
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h2>Overview of @Model.Competition.Name</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Seasons</h3>
                @if(Model.Competition.Seasons.Count > 0)
            {
                <ul class="list-group">
                    @foreach(var season in Model.Competition.Seasons)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">
                                <a asp-controller="Seasons" asp-action="Overview" asp-route-id="@season.Id">@season.Name</a>

                            </div>
                            <div class="col-4">
                                <a class="btn btn-secondary" asp-controller="Seasons" asp-action="Edit" asp-route-id="@season.Id">Edit</a>
                            </div>
                        </div>
                    </li>  
                  
                }
                </ul>
            }
                <hr />
                <a asp-controller="Seasons" asp-action="Create" asp-route-competitionId="@Model.Id" class="btn btn-primary w-100">
                    Add Season
                </a>
            </div>
        </div>
    </div>
</div>