@model FootballWorldWeb.Models.Groups.GroupViewViewModel
<div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <a asp-action="Overview" asp-controller="Competitions" 
                               asp-route-id="@Model.Group.Season.Competition.Id"
                               asp-route-slug="@Model.Group.Season.Competition.Slug"
                               >
                                @Model.Group.Season.Competition.Name
                            </a> 
                        </li>
                        <li class="list-group-item">
                            <a asp-action="Details" asp-controller="Seasons"
                               asp-route-id="@Model.Group.Season.Id"
                               asp-route-slug="@Model.Group.Season.Slug"
                               >
                                @Model.Group.Season.Name</a>
                        </li>
                        <li class="list-group-item">
                            <strong>@Model.Group.Name.ToUpper()</strong>
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="section-heading">
                        <h3>Standings</h3>
                    </div>
                    @await Html.PartialAsync(
                                            "~/Views/Competitions/Partials/_StandingsTablePartial.cshtml",
                                            Model.Standings
                                            )
                </div>
                <div class="col-12">
                    @await Html.PartialAsync(
                                            "~/Views/Competitions/Partials/_MatchesListViewPartial.cshtml",
                                            Model.Matches
                                            )
                </div>
            </div>
    </div>

</div>